body {
margin:0;
}
.meni {
    background-color: black;
    display: block;
    position: fixed;
    z-index: 1;
    padding: 10px;
    width: 100%;
}
ul li{
    display: inline;
    padding-left: 30px;
}
a { color: white;
    text-decoration: none;

}
a:hover {
    color: grey;
}
p {
  color:white;
}
.flex-container {
display: flex;
flex-flow: row wrap;
  justify-content: space-around;
  padding: 150px;
  margin-top:0px;
  list-style: none;
  background-image: url(https://stil.kurir.rs/data/images/2017/06/30/20/120607_pica_ls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 10px red;
}



.flex-item {
    background-color: red;
    border-radius: 100%;
    size: cover;
    padding: 15px;
    width: 140px;
    height: 140px;
    margin-top: 60 px;
    line-height: 130px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
  .flex-container1 {
    display: flex;
    flex-flow: row wrap;
      justify-content: space-around;
      padding: 20 px;
      margin-top:0px;
      margin-left: 40px;
      margin-right: 40px;
      list-style: none;
      
    }
    .adress {
        width: 100%;
        color: white;
        background-color: black;
        padding: 20px;
        border-top: red solid 10px;
        text-align: center;
    }
    
    
    
    .flex-item1 {
        padding: 25px;
        width: 130px;
        height: 50px;
        line-height: 20px;
        color: black;
        font-weight: bold;
        font-size: 0.8 em;
        text-align: center;
        border-radius: 10px;
        border: solid red 5px;
      }
      button {

        width: 150;
        height: 70;
        background-color: red;
        color: whitesmoke;
        border-radius: 20px;
        padding: 10px;
      }