.forma {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
  height:150px;

}
input{
  height:50px;
  margin:10px;
}
ul{
background-color: pink;
height: 500px;

}
.alert{
  height: 50px;
  background-color: powderblue;
}